@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


header{
    display: flex;
    background-color: cornflowerblue;
    padding: 15px;
}

header img{
    height: 35px;
}
header h1{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive, Arial, Helvetica, sans-serif;
    margin-left: 15px;
    color: white;
}

main{
    text-align: center;
    position: relative;
}
.text-box{
    resize: none;
    height: 30vw;
    width: 100%;
    text-transform: lowercase;
}

.box{
    display: inline-block;
    position: relative;
    width: 30%;
    height: 100%;
    margin-top: 1rem;
    
}

.box:first-of-type{
    margin-right: 5%;
}

.box:last-of-type{
    margin-left: 5%;
}

.decrypt-box {
    background: url(assets/secret-message.jpg) no-repeat local center;
    background-size: contain;
}

.encrypt-box{
    background: url(assets/public-message.jpg) no-repeat local center;
    background-size: contain;
}



.btn{
    width: auto;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    background-color: darkslategrey;
    border: none;
    

}
.btn:hover{
    background-color: darkcyan;
    scale: 1.2;
    cursor: pointer;
}

.btn:active{
    background-color: green;
    
}

.action-btn{
    display: block;
    width: 50%;
    height: 3em;
    margin: 1rem auto;
    
}
.change-btn{
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 48%;
}
.copy-btn{
    width: 100%;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: 2%;
    left: 1.1%;
}

.popup-text{
    width: auto;
    padding: 5px;
    font-size: 1.8em;
    position: absolute;
    bottom: 10%;
    background-color: #00468B;
    border-radius: 10%;
    color: white;
    visibility: hidden;
}

.popup-text-left{
    left: 30%;
}
.popup-text-right{
    left: 35%;
}

footer{
    border-top: 5px solid cornflowerblue;
    margin-top: 15px;
    height: 50px;
}

.contact{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.contact-item{
    
}
.media-logo {
   margin-right: 5px;
    width: 2.5em;
}


a{
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    
}


a:visited{
    color: initial;
}

a:hover{
    color: darkcyan;
}


@media screen and (max-width:768px) {
    .box{
        display: block;
        
    }
    .box:first-of-type{
        margin: 1rem auto;
    }
    .box:last-of-type{
        margin: 1rem auto;
    }
    .change-btn{
        position: static;
    }
}