@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


header{
    display: flex;
    background-color: cornflowerblue;
    padding: 15px;
}

header img{
    height: 35px;
}
header h1{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive, Arial, Helvetica, sans-serif;
    margin-left: 15px;
    color: white;
}

main{
    width: 100%;
    text-align: center;
}
.text-box{
    resize: none;
    height: 400px;
    width: 25%;
    margin: 35px 35px 15px 35px;
    text-transform: lowercase;
    
   
}

.decrypt-box {
    background: url(assets/secret-message.jpg) no-repeat local center;
    background-size: contain;
}

.encrypt-box{
    background: url(assets/public-message.jpg) no-repeat local center;
    background-size: contain;
}



.btn{
    width: auto;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
    background-color: darkslategrey;
    border: none;
    

}
.btn:hover{
    background-color: darkcyan;
    scale: 1.2;
    cursor: pointer;
}

.btn:active{
    background-color: green;
    
}

.action-btn{
    display: block;
    width: 50%;
    height: 3em;
    margin: 0 auto;
    
}
.change-btn{

    font-size: 20px;
    position: relative;
    bottom: 250px;
}
.copy-btn{
    width: auto;
    position: relative;
    font-size: 16px;
    padding: 5px;
}

.copy-btn-left{
    bottom: 25px;
    right: 70%;
}
.copy-btn-right{
    bottom: 25px;
    right: 6%;
    
}

.popup-text{
    font-size: 25px;
    position: absolute;
    left: 43%;
    justify-content: center;
    visibility: hidden;
}

footer{
    border-top: 5px solid cornflowerblue;
    margin-top: 15px;
    height: 50px;
}

.contact{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.media-logo {
   
    width: 2.5em;
}